.active {
    background-color: red;
}

nav {
    display: flex;
    justify-content: start;
    background-color: #0B0B0B;
    padding: -03%;
    font-family: 'Roboto Condensed', sans-serif;
    position: sticky;
    top: 0;

    & .Home {
        font-size: 1.2rem;
        margin: 1rem;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8880);
        font-weight: 500;
    }

    & ul {
        display: flex;

        & li {
            list-style: none;
            padding: -0.1rem;

            & a {
                display: block;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.8000);
                padding: 0.08rem 1.0rem;
                margin: 0.01rem;
                border-radius: 0.5rem;
                font-size: 1.0rem;
                font: stretch 12px;
                font-weight: 400;

                &:hover {
                    background-color: #303030;
                    color: white;
                    font-size: 1.02rem;
                    padding: 0.09rem 0.9rem;
                }
            }
        }
    }
}